<div>
    <div>
        <div>
            <label>Départ</label>
            <input class="ville" #dep type="text">
        </div>
        <div>
            <label>Arrivée</label>
            <input class="ville" #arr type="text">
        </div>
        <div>
            <input placeholder="marque de la voiture" type="text" #voiture (focusout)="selectMarque()">
            <select #select><option>Model voiture</option></select>
        </div>

        <input type="button" value="Valider" (click)="click()">
    </div>
    <div style="display: flex;">
        <div style="width: fit-content; margin-top: auto; margin-bottom: auto;">
            <p>Durée du trajet :</p>
            <p>{{dureeH}}h{{dureeM}}min</p>
        </div>
        <div id="map"><app-map [autonomie]="autonomie" [villeDep]="villeDep" [villeArr]="villeArr" (dist)="changeDist($event)" (nbArret)="changeNbArret($event)"></app-map></div>
    </div>
</div>